@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Thmanyah Display";
  src: url("/fonts/thmanyahserifdisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Text";
  src: url("/fonts/thmanyahseriftext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --black-900: #000000;
  --black-800: #070707;
  --black-700: #0e0e10;
  --black-600: #1c1c1c;
  --black-500: #242426;
  --black-400: #2b2b2d;
  --black-300: #323232;
  --black-200: #3a3a3c;
  --black-100: #414143;

  --white-900: #d1d1d1;
  --white-800: #dbdbdb;
  --white-700: #e0e0e0;
  --white-600: #e5e5e5;
  --white-500: #ebebeb;
  --white-400: #f0f0f0;
  --white-300: #f5f5f5;
  --white-200: #fafafa;
  --white-100: #ffffff;

  --gray-900: #868686;
  --gray-800: #8e8e8e;
  --gray-700: #969696;
  --gray-600: #9a9a9a;
  --gray-500: #9f9f9f;
  --gray-400: #a7a7a7;
  --gray-300: #a8a8a8;
  --gray-200: #afafaf;
  --gray-100: #b7b7b7;

  --tiffany-900: #2e8f7c;
  --tiffany-800: #3fa592;
  --tiffany-700: #4fbaa6;
  --tiffany-600: #5dd3b6;
  --tiffany-500: #7edcc3;
  --tiffany-400: #9be5cf;
  --tiffany-300: #b6edd9;
  --tiffany-200: #d0f4e4;
  --tiffany-100: #a8fbd3;

  --border-900: #ffffff33;
  --border-800: #75757533;

  --font-head: var(--font-my-heading);
}

@theme inline {
  --font-display: "Thmanyah Display", serif;
  --font-text: "Thmanyah Text", serif;

  --color-black-900: var(--black-900);
  --color-black-800: var(--black-800);
  --color-black-700: var(--black-700);
  --color-black-600: var(--black-600);
  --color-black-500: var(--black-500);
  --color-black-400: var(--black-400);
  --color-black-300: var(--black-300);
  --color-black-200: var(--black-200);
  --color-black-100: var(--black-100);

  --color-white-900: var(--white-900);
  --color-white-800: var(--white-800);
  --color-white-700: var(--white-700);
  --color-white-600: var(--white-600);
  --color-white-500: var(--white-500);
  --color-white-400: var(--white-400);
  --color-white-300: var(--white-300);
  --color-white-200: var(--white-200);
  --color-white-100: var(--white-100);

  --color-gray-900: var(--gray-900);
  --color-gray-800: var(--gray-800);
  --color-gray-700: var(--gray-700);
  --color-gray-600: var(--gray-600);
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);

  --color-tiffany-900: var(--tiffany-900);
  --color-tiffany-800: var(--tiffany-800);
  --color-tiffany-700: var(--tiffany-700);
  --color-tiffany-600: var(--tiffany-600);
  --color-tiffany-500: var(--tiffany-500);
  --color-tiffany-400: var(--tiffany-400);
  --color-tiffany-300: var(--tiffany-300);
  --color-tiffany-200: var(--tiffany-200);
  --color-tiffany-100: var(--tiffany-100);

  --color-border-900: var(--border-900);
  --color-border-800: var(--border-800);
}

@layer utilities {
  .font-fancy {
    font-variant-ligatures: contextual common-ligatures;
    font-feature-settings:
      "calt" 1,
      "liga" 1,
      "rclt" 1,
      "curs" 1,
      "ss01" 1;
  }
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border-800 dark:border-border-900;
  }
}

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;

    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  button {
    @apply cursor-pointer;
  }

  input {
    @apply w-full p-2.5 outline-0 transition-all duration-300 placeholder:text-sm disabled:cursor-not-allowed disabled:border-0;
  }
}

body {
  font-family: "Thmanyah Text", serif;
}

/* scrollbar Styles */
*::-webkit-scrollbar {
  @apply w-[5px];
}
*::-webkit-scrollbar-track {
  @apply bg-white-500;
}
.dark *::-webkit-scrollbar-track {
  @apply bg-black-500;
}
*::-webkit-scrollbar-thumb {
  @apply bg-gray-100;
}
.dark *::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}
/* Vertical scrollbar */
*::-webkit-scrollbar:vertical {
  @apply w-2.5;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
